%section.fdb-block.team-1
  .container
    .row.text-center.justify-content-center
      .col-8
        %h1 Our Team
        %p.lead Far far away, behind the word mountains, far from the countries.
    .row-50
    .row
      .col-sm-3.text-left
        .fdb-box.p-0
          %img.img-fluid.rounded-0{:alt => "image", :src => "http://ru-an.info/Photo/News/2018/2018_05_28_6b92c9.jpg"}/
          .content.p-3
            %h3
              %strong Trump Trumpov
            %p Founder
      .col-sm-3.text-left
        .fdb-box.p-0
          %img.img-fluid.rounded-0{:alt => "image", :src => "https://www.wnd.com/files/2017/01/Obama_laugh.jpg"}/
          .content.p-3
            %h3
              %strong Bam Obamov
            %p Founder
      .col-sm-3.text-left
        .fdb-box.p-0
          %img.img-fluid.rounded-0{:alt => "image", :src => "https://i1.wp.com/www.whatizhiphop.com/wp-content/uploads/2010/11/georgebush.wihh.jpg"}/
          .content.p-3
            %h3
              %strong Bush Bushuev
            %p Founder
      .col-sm-3.text-left
        .fdb-box.p-0
          %img.img-fluid.rounded-0{:alt => "image", :src => "https://i0.wp.com/www.nationalreview.com/wp-content/uploads/2015/05/pic_related_050415_SM_Bill-Clinton-G-2.jpg?resize=300%2C300&ssl=1"}/
          .content.p-3
            %h3
              %strong Clin Clintov
            %p Founder
