%section.fdb-block
  .container
    .row.text-center
      .col-12
        %h1 TOP 10
    .row.text-center.justify-content-center.mt-5
      .col-10.col-sm-3
        = image_tag asset_url('hero/blue.svg'), class: 'img-fluid rounded'
        %h3
          %strong Mirrows
      .col-10.col-sm-3.pt-5.pt-sm-0
        = image_tag asset_url('hero/red.svg'), class: 'img-fluid rounded'
        %h3
          %strong Dogs
      .col-10.col-sm-3.pt-5.pt-sm-0
        = image_tag asset_url('hero/purple.svg'), class: 'img-fluid rounded'
        %h3
          %strong Shadows
      .col-10.col-sm-3.pt-5.pt-sm-0
        = image_tag asset_url('hero/yellow.svg'), class: 'img-fluid rounded'
        %h3
          %strong Lights
