%footer.fdb-block.footer-small.bg-dark.br-red
  .container
    .row.align-items-center
      .col-12.col-md-8
        %ul.nav.justify-content-center.justify-content-md-start
          %li.nav-item
            = link_to 'Home', root_path, class: 'nav-link active'
          = render 'layouts/links'
      .col-12.col-md-4.mt-4.mt-md-0.text-center.text-md-right
        © 2019 StradaBlog. All Rights Reserved
