%section.fdb-block
  .container-fluid
    .row.text-center.justify-content-center.mt-5
      .col-10.col-md-2
        = image_tag asset_url('5.jpg'), class: 'img-fluid'
      .col-10.col-md-2.offset-md-1.pt-5.pt-sm-0
        = image_tag asset_url('6.jpg'), class: 'img-fluid'
      .col-10.col-md-2.offset-md-1.pt-5.pt-sm-0
        = image_tag asset_url('7.jpg'), class: 'img-fluid'
      .col-10.col-md-2.offset-md-1.pt-5.pt-sm-0
        = image_tag asset_url('8.jpg'), class: 'img-fluid'
