%section.fdb-block{ style: 'background: #dad9d9; padding-top: 4rem; padding-bottom: 3rem' }
  .container
    .row.text-center.justify-content-center
      .col-12.col-md-5.offset-md-0
        = image_tag asset_url('4.jpg'), class: 'img-fluid'
        %h4.lead
          %strong TOP-10
      .col-12.col-md-5.offset-md-1.pt-5.pt-md-0
        = image_tag asset_url('2.jpg'), class: 'img-fluid'
        %h4.lead
          %strong Interview
